UPDATE_VERSION=20250331

DJANGO_SETTINGS_MODULE=pvapi.settings.local
DJANGO_SECRET_KEY=
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=

INGEST_HOST=
INGEST_PORT=3306
INGEST_USER=pv_search_developer
INGEST_PASSWORD=

INGEST_ES_PGPUB="elastic_production_pgpub_${UPDATE_VERSION}"
INGEST_ES_PATENT="elastic_production_patent_${UPDATE_VERSION}"

MYSQL_ROOT_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3107
MYSQL_USER=pv_search_user
MYSQL_PASSWORD=
MYSQL_DATABASE=pv_search_api

ELASTIC_HOST=
ELASTIC_PORT=9243
ELASTIC_USER=elastic
ELASTIC_PASSWORD=
ELASTIC_TIMEOUT=60

REDIS_HOST=127.0.0.1
REDIS_PORT=6380
REDIS_STATS_DB=0
REDIS_CELERY_DB=1

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=
