{
  "openapi": "3.0.2",
  "info": {
    "title": "PatentsView PatentSearch API",
    "version": "0.2b"
  },
  "servers": [
    {
      "description": "PatentsView PatentSearch API",
      "url": "https://search.patentsview.org/"
    },
    {
      "description": "PatentsView PatentSearch API",
      "url": "http://localhost:8000/"
    }
  ],
  "paths": {
    "/api/v1/assignee/": {
      "get": {
        "description": "",
        "operationId": "listAssignee",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"assignee_id\", \"assignee_individual_name_first\", \"assignee_individual_name_last\", \"assignee_organization\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"assignee_id\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Assignee"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listAssigneelist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssigneePostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Assignee"
        ]
      }
    },
    "/api/v1/assignee/{assignee_id}/": {
      "get": {
        "description": "",
        "operationId": "retrieveAssigneeDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "assignee_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Assignee"
        ]
      }
    },
    "/api/v1/patent/attorney/": {
      "get": {
        "description": "",
        "operationId": "listAttorney",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"attorney_id\", \"attorney_name_first\", \"attorney_name_last\", \"attorney_organization\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"attorney_id\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttorneySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Attorney"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listAttorneylist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttorneyPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttorneySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Attorney"
        ]
      }
    },
    "/api/v1/patent/attorney/{attorney_id}/": {
      "get": {
        "description": "",
        "operationId": "retrieveAttorneyDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "attorney_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttorneySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Attorney"
        ]
      }
    },
    "/api/v1/cpc_class/": {
      "get": {
        "description": "",
        "operationId": "listCpcClass",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"cpc_class_id\", \"cpc_class_title\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"cpc_class\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcClassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "CpcClass"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listCpcClasslist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CpcClassPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcClassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "CpcClass"
        ]
      }
    },
    "/api/v1/cpc_class/{cpc_class}/": {
      "get": {
        "description": "",
        "operationId": "retrieveCpcClassDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "cpc_class",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcClassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "CpcClass"
        ]
      }
    },
    "/api/v1/cpc_subclass/": {
      "get": {
        "description": "",
        "operationId": "listCpcSubclass",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"cpc_subclass_id\", \"cpc_subclass_title\", \"cpc_class\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"cpc_subclass\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcSubclassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "CpcSubclass"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listCpcSubclasslist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CpcSubclassPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcSubclassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "CpcSubclass"
        ]
      }
    },
    "/api/v1/cpc_subclass/{cpc_subclass}/": {
      "get": {
        "description": "",
        "operationId": "retrieveCpcSubclassDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "cpc_subclass",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcSubclassSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "CpcSubclass"
        ]
      }
    },
    "/api/v1/cpc_group/": {
      "get": {
        "description": "",
        "operationId": "listCpcGroup",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"cpc_group_id\", \"cpc_group_title\", \"cpc_class\", \"cpc_subclass\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"cpc_group\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcGroupSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "CpcGroup"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listCpcGrouplist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CpcGroupPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcGroupSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "CpcGroup"
        ]
      }
    },
    "/api/v1/cpc_group/{cpc_group}/": {
      "get": {
        "description": "",
        "operationId": "retrieveCpcGroupDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "cpc_group",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CpcGroupSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "CpcGroup"
        ]
      }
    },
    "/api/v1/patent/foreign_citation/": {
      "get": {
        "description": "",
        "operationId": "listForeignCitation",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"patent_id\", \"citation_sequence\", \"citation_number\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"patent_id\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForeignCitationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "ForeignCitation"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listForeignCitationlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForeignCitationPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForeignCitationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "ForeignCitation"
        ]
      }
    },
    "/api/v1/patent/foreign_citation/{patent_id}/": {
      "get": {
        "description": "",
        "operationId": "retrieveForeignCitationDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "patent_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForeignCitationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "ForeignCitation"
        ]
      }
    },
    "/api/v1/inventor/": {
      "get": {
        "description": "",
        "operationId": "listInventor",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"inventor_id\", \"inventor_name_first\", \"inventor_name_last\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"patent_id\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventorSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Inventor"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listInventorlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventorPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventorSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Inventor"
        ]
      }
    },
    "/api/v1/inventor/{inventor_id}/": {
      "get": {
        "description": "",
        "operationId": "retrieveInventorDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "inventor_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventorSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Inventor"
        ]
      }
    },
    "/api/v1/ipc_classification/": {
      "get": {
        "description": "",
        "operationId": "listIpcClassification",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"ipc_id\", \"ipc_section\", \"ipc_class\", \"ipc_subclass\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"patent_id\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpcClassificationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "IpcClassification"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listIpcClassificationlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IpcClassificationPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpcClassificationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "IpcClassification"
        ]
      }
    },
    "/api/v1/ipc_classification/{patent_id}/": {
      "get": {
        "description": "",
        "operationId": "retrieveIpcClassificationDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "patent_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpcClassificationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "IpcClassification"
        ]
      }
    },
    "/api/v1/location/": {
      "get": {
        "description": "",
        "operationId": "listLocation",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"location_id\", \"location_name\", \"location_state\", \"location_country\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"patent_id\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Location"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listLocationlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Location"
        ]
      }
    },
    "/api/v1/location/{location_id}/": {
      "get": {
        "description": "",
        "operationId": "retrieveLocationDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "location_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Location"
        ]
      }
    },
    "/api/v1/patent/other_reference/": {
      "get": {
        "description": "",
        "operationId": "listOtherreference",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"patent_id\", \"reference_sequence\", \"reference_text\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"patent_id\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherreferenceSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Otherreference"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listOtherreferencelist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtherreferencePostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherreferenceSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Otherreference"
        ]
      }
    },
    "/api/v1/patent/other_reference/{patent_id}/": {
      "get": {
        "description": "",
        "operationId": "retrieveOtherreferenceDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "patent_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherreferenceSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Otherreference"
        ]
      }
    },
    "/api/v1/patent/": {
      "get": {
        "description": "",
        "operationId": "listPatent",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"patent_id\", \"patent_title\", \"patent_date\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"patent_id\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatentSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Patent"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listPatentlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatentPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatentSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Patent"
        ]
      }
    },
    "/api/v1/patent/{patent_id}/": {
      "get": {
        "description": "",
        "operationId": "retrievePatentDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "patent_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatentSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Patent"
        ]
      }
    },
    "/api/v1/patent/rel_app_text/": {
      "get": {
        "description": "",
        "operationId": "listRelAppText",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"patent_id\", \"related_text\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"patent_id\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelAppTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "RelAppText"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listRelAppTextlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelAppTextPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelAppTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "RelAppText"
        ]
      }
    },
    "/api/v1/patent/rel_app_text/{patent_id}/": {
      "get": {
        "description": "",
        "operationId": "retrieveRelAppTextDetail",
        "parameters": [
          {
            "description": "",
            "explode": false,
            "in": "path",
            "name": "patent_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelAppTextSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "RelAppText"
        ]
      }
    },
    "/api/v1/patent/application_citation/": {
      "get": {
        "description": "",
        "operationId": "listApplicationCitation",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "f",
            "style": "form",
            "required": false,
            "schema": {
              "default": "[\"patent_id\", \"patent\", \"citation_sequence\", \"citation_document_number\", \"citation_wipo_kind\", \"citation_category\", \"citation_date\", \"citation_name\"]",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "o",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{ \"size\": 100,\"after\": 0 }",
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "q",
            "style": "form",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "s",
            "style": "form",
            "required": false,
            "schema": {
              "default": "{\"patent_id\": \"asc\" }",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCitationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "ApplicationCitation"
        ]
      },
      "post": {
        "description": "",
        "operationId": "listApplicationCitationlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCitationPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCitationSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "headers": {
              "X-Status-Reason": {
                "description": "Description of invalid query",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "X-Status-Reason-Code": {
                "description": "Request Error Code",
                "explode": false,
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThrottleResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before sending next request",
                "explode": false,
                "schema": {
                  "type": "integer"
                },
                "style": "simple"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
[...]
